* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  --color-white: #fefefe;
  --color-black: #0e0e0e;
  --color-gray: #2f2f2f;
  --color-gray-secondary: #525252;
}

body {
  background-color: var(--color-black);
  font-family: Arial, sans-serif;
  padding: 10px 40px;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-black);
  color: var(--color-white);
  width: 100%;
}

.nav-left ul {
  list-style: none;
}

.nav-left li {
  margin: 10px 0;
  width: 100px;
}

.nav-left a {
  color: var(--color-white);
  text-decoration: none;
  font-size: 18px;
  position: relative;
  transition: color 0.3s ease;
  letter-spacing: -1px;

  display: flex;
  justify-content: space-between;
}

.nav-left a:hover {
  color: var(--color-gray);
}

.nav-left a div.arrow-icon {
  width: 16px;
  overflow: hidden;
}

.nav-left a div.arrow-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.nav-center h1 {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0px;
  line-height: 1.6rem;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-right p {
  font-size: 14px;
  color: var(--color-white);
}

.nav-right span {
  color: var(--color-gray);
}

.nav-right a {
  background-color: var(--color-white);
  color: var(--color-black);
  letter-spacing: -1px;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-right a:hover {
  background-color: var(--color-gray);
  color: var(--color-white);
}

main {
  margin-top: 40px;
}

section.hero {
  display: flex;
  align-items: flex-end;
}

section.hero .star-icon {
  position: absolute;
  top: 60%;
  left: 10%;
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
}

section.hero .star-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

section.hero h2 {
  text-transform: uppercase;
  letter-spacing: -4px;
  font-size: 4.5rem;
  font-weight: 300;
  position: absolute;
}

section.hero div {
  width: 50%;
  height: 100%;
}

section.hero div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.hero h2 p {
  position: relative;
}

section.hero h2 span.inline-image {
  position: absolute;
  right: 14rem;
  bottom: 3rem;
}

section.hero h2 span.inline-image img {
  transform: scale(1.2);
}

section.hero h2 span.end-line {
  margin-left: 7rem;
}

section.about {
  margin-top: 2rem;
  border-top: 1px solid var(--color-gray-secondary);
  display: flex;
  padding-top: 2rem;
  color: var(--color-gray-secondary);
  position: relative;
}

section.about h3 {
  margin-bottom: 2rem;
  font-weight: 500;
}

section.about div.about__content-left {
  min-width: 50%;
}

section.about div.about__content-right {
  display: flex;
  gap: 3rem;
  min-width: 50%;
}

div.about__content-right article:nth-child(1) div {
  display: block;
}

div.about__content-right article:nth-child(1) div *:not(:first-child) {
  margin-top: 2rem;
}

div.about__content-right article div {
  color: var(--color-white);
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

section.about .plus-icon {
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 1rem;
  right: 0;
  font-size: 2rem;
  color: var(--color-white);
  text-align: right;
}

section.story {
  margin-top: 10rem;
  display: flex;
  gap: 1rem;
}

section.story div.story__content--left {
  display: flex;
  gap: 2rem;
  width: 100%;
  align-items: flex-end;
}

div.story__content--left h3 {
  text-transform: uppercase;
  font-size: 2rem;
  white-space: nowrap;
  font-weight: 500;
  letter-spacing: -1.5px;
  line-height: 1.7rem;
}

section.story div.story-img {
  width: 100%;
  height: 28rem;
}

section.story div.story-img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

section.story div.story__content--right {
  display: flex;
  gap: 1.5rem;
  width: 100%;
  align-items: flex-end;
}

div.story__content--right div.content--right__img {
  display: flex;
  gap: 1rem;
  width: 100%;
  align-items: flex-start;
  height: 100%;
}

div.story__content--right div.content--right__button {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

div.content--right__button div.content--right__button-img {
  border: 1px solid var(--color-gray-secondary);
  padding: 35px;
  border-radius: 50%;
}

div.content--right__button div.content--right__button-img img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
div.content--right__button .button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  letter-spacing: -1.5px;
  font-weight: 300;
}

div.story__content--right div.story-img-des {
  max-width: 120px;
  aspect-ratio: 1/1;
  overflow: hidden;
}

div.story-img-des img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
